
  <div class="container">
   <h2 class="big"> Latest News</h2> 
     <div class="row">
       <div class="col-sm blog">
         <div class="">
            <img src="https://via.placeholder.com/400x400" alt="" srcset="">
         </div>
         <div class="">
           <h5>FULL DATE AND YEAR</h5>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti minus quaerat, suscipit qui fugiat delectus obcaecati dolores expedita commodi, tempore magni ab quidem facilis necessitatibus hic voluptatibus assumenda eaque! Maiores.
         </div>
       </div>
       <div class="col-sm blog">
         <div class="">
            <img src="https://via.placeholder.com/400x400" alt="" srcset="">
         </div>
         <div class="">
           <h5>FULL DATE AND YEAR</h5>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti minus quaerat, suscipit qui fugiat delectus obcaecati dolores expedita commodi, tempore magni ab quidem facilis necessitatibus hic voluptatibus assumenda eaque! Maiores.
         </div>
       </div>
     </div>
  </div>
