<section class="five">
  <div class="container text-center">
       <h1 class="big">Get a free online quote <small>in a few easy steps</small></h1>
    <div class="row big">
      <div class="col-sm">
         <h4>What are you moving?</h4> 
             <div class="form-group">
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
      </div>
      <div class="col-sm">
         <h4>Where are you moving to?</h4> 
            <div class="form-group">
                <select class="form-control" id="exampleFormControlSelect1">
                 <option>1</option>
                 <option>2</option>
                 <option>3</option>
                 <option>4</option>
                 <option>5</option>
                </select>
             </div>

      </div>
      <div class="col-sm">
       <h4 class="text-white">.</h4>
       <button type="button" class="btn btn-warning">Get A quote</button>
      </div>
    </div>
  </div>
</section>