<section class="reviews_section">
    <div class="container">
        <div class="row">
          <div class="col-12 ">
           <div class="text-center">
             <p>  
             
             <h2 class="title">Reviews</h2>
             </p>
          </div>
          <div class="slider">
              <div class="slider_item">
                <div class="star">
                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                </div>
                 <div class="slide_header">
                   <h4>AMAZING</h4>
                 </div>
                  <div class="content">
                     I was a bit skeptical to use Anglo Pacific at first due to some bad reviews, but...
                  </div>
                  <div class="author">
                    Long Dong
                  </div>
              </div>

              <div class="slider_item">
                <div class="star">
                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                </div>
                 <div class="slide_header">
                   <h4>AMAZING</h4>
                 </div>
                  <div class="content">
                     I was a bit skeptical to use Anglo Pacific at first due to some bad reviews, but...
                  </div>
                  <div class="author">
                    Long Dong
                  </div>
              </div>

                 
              <div class="slider_item">
                <div class="star">
                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                </div>
                 <div class="slide_header">
                   <h4>AMAZING</h4>
                 </div>
                  <div class="content">
                     I was a bit skeptical to use Anglo Pacific at first due to some bad reviews, but...
                  </div>
                  <div class="author">
                    Long Dong
                  </div>
              </div>

              <div class="slider_item">
                <div class="star">
                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                </div>
                 <div class="slide_header">
                   <h4>AMAZING</h4>
                 </div>
                  <div class="content">
                     I was a bit skeptical to use Anglo Pacific at first due to some bad reviews, but...
                  </div>
                  <div class="author">
                    Long Dong
                  </div>
              </div>


              <div class="slider_item">
                <div class="star">
                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                </div>
                 <div class="slide_header">
                   <h4>AMAZING</h4>
                 </div>
                  <div class="content">
                     I was a bit skeptical to use Anglo Pacific at first due to some bad reviews, but...
                  </div>
                  <div class="author">
                    Long Dong
                  </div>
              </div>
                
          </div>
        
          <div class="text-center">
             <p>  
             
             <button type="button" class="btn btn-warning">Warning</button>
             </p>
          </div>
        
          </div>
        </div>
    
    </div>
 </section>