<section class="section_global">
  <div class="inter_hero">
      
         <%= render 'shared/quote_box'%>
    
     <div class="hero_text">
        <div class="hero_text_item">
          <h1>International Shipping</h1>
          <p>Call us on 0800 783 4418</p>
        </div>
     </div>
      
  </div>
</section>