/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
*{
  box-sizing: border-box;
  margin:  0;
  padding: 0;
}

body {
  font-size: 1em;
  position: relative;
  height: 100%;
  color: #5a5a5a;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.8em;
  }
  ul.nav-tabs{
    width: 100%;
    

    .nav-item{
     
      width: 33.3%;
    }
  }

  .quote_box{
    position: absolute;
    top: 140px;
    z-index: 999;
    right: 348px;
  }


  h1.huge_title{
    font-size: 400%;
    font-weight: 600;
    margin: 40px 0;

  }
h1.default ,h2.default{
  font-weight: 600;
  padding-bottom: 20px;
}
  .submit_buttons{
    display: flex;
   .submit_buttons{
     padding-left: 10px;
     margin-left: 3px;
   }
  }


  h2.underline{
    text-decoration: underline;
    text-align: center;
    padding: 50px 0;
    font-weight: 700;
  }
  /*Footer 
  ------------------------------------*/

  section.footer{
    position: absolute;
    right: 0;
    bottom: 1;
    left: 0;
  }
  .destination{

    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: auto;
   
  }

  .tab_contents{
    grid-row: auto /span 2;
  }
.countries{
  width: 100%;
  margin: auto;
 
}
 spacer{
   margin: 20px 0;
   padding: 20px 0;
 }
 .big{
   padding: 30px;
 }
 .small_spacer{
  padding: 10px 0;
}

p{
  font-size: 120%;
  line-height: 31px;
}

/* Buttons===========================*/
.btn{
  color: #fff;
  text-transform: uppercase;
  border-radius: 20px;
  padding: 10px 18px ;

  font-weight: 600;
  &:hover{
    color: #fff;
  }
}

.btn::after{
  font-family: 'Font Awesome 5 free';
    content: '\f0c1';
    padding-left: 8px;
    position: relative;
    font-size: 90%;
    font-weight: 900;
}
.btn-warning{
  background: #d35400;
  border: none;
  &:hover{
    background: #e67e22;
  }
}

  /* carousel
  ---------------------------------------------------*/
#myCarousel{
  height: 50rem;

  .carousel-inner{
    height: 100%;

    .carousel-item{
      height: 100%;;
    }
  }
}

  /*SECTIONS 
  ---------------------------------------------------*/
    section{
    padding: 60px 0;
     
    }

    section.five{
      background-color: rgba(49, 112, 230, 0.63);
    }
  /* LIST SYTLES
  ---------------------------------------------------*/
  li{
    list-style: none;
}

.social{
    display: flex;
    justify-content: space-around;
}

/* CARDS 
-----------------------------------------------------*/
.card_wrapper{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  .card{
    width: 100%
  }
}

img{
  width: 100%;
}
  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */
  
  /* Carousel base class */
  .carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }
  
  
  /* MARKETING CONTENT
  -------------------------------------------------- */
  
  /* Center align the text within the three columns below the carousel */
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  
  
  /* Featurettes
  ------------------------- */
  
  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
  }
  
.review{
  display: flex;
  justify-content: center;
}
  
.reviews_section{
  background-color: rgb(218, 224, 224)
}
.slider_item{
  display: flex;
}

section.online{
  background-image: linear-gradient(154deg,#00894d 0%,#05a56b 3%,#008965 100%);
  color: #fff;
}

.view_track{
  display: flex;
  justify-content: space-around;
}

/* PADDINGS -----------------------------
*/

.my_padding{
  padding: 50px;
}


.p_right{
  padding-right: 80px;
}

.p_left{
  padding-left: 80px;
}

.marks{
  margin: 15px 0;
}

/*======================================
ICONS */
span.icon{
  padding-right: 8px;
}

.blog{
  display: flex;

  img{
    width: 200px;
    margin-right: 6px;
  }
}
.partners{
  display: flex;
}


section.nine{
  background-color: #008965;
  height: 300px;
  color: #fff;

  h3{
    margin-bottom: 50px;
  }
  a{
    color: #fff;
  }
}
.section_nine_flex{
  display: flex;
  justify-content: space-around;
}



/*=========================Inter Page=================================*/

.inter_hero{
  height: 72vh;
 position: relative;
 background:linear-gradient(0deg,rgba(29, 27, 28, 0.24),rgba(87, 60, 76, 0.774)),url('intergb.jpg');

}

.baggage_hero{
  height: 72vh;
 position: relative;
 background:linear-gradient(0deg,rgba(29, 27, 28, 0.24),rgba(87, 60, 76, 0.774)),url('baggage.jpg');

}

.hero_text{
  display: flex; 
  justify-content: start;
  height: 60vh;
}

.hero_text_item{
  align-self: center;
  padding-left: 70px;

  h1{
    font-size: 3em;
    font-weight: 600;
    color: #fff;
  }

  p{
    color: #fff;
    font-size: 1.5em;
    font-weight: 400;
  }
}


.card-header{
  text-align: center;
  img{
    width: 60%;
  }
}
h1.text-card{
  text-transform: uppercase;
 font-size: 35px;
  padding: 20px;
  font-weight: 700;
  color: #008965;
 
}

.form{
  padding: 20px;
}

section.baggage_four{
  color: #fff;
  background-color: #008965;
}

.baggage_grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 200px;
}

.baggage_grid_items{
  position: relative;
 text-align: center;
  width: 100%;
  text-align: center;
  img{
    width: 70%;
  }
  span{
    position: absolute;
    bottom: 0px;
    left: 20px;

  }
}

.inter_hero, .baggage_hero{
  position: relative;
}



.baggage_hero::before ,.inter_hero::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 333px;
  background: url('echo.png');
  background-size: cover;
  background-repeat: no-repeat;
}



